@media  screen and (max-width: 930px) {
    .container {
        padding: 0px 10px;
    }
    .ticket-wrapper {
        width: 100%;
    }
    .fixed-container {
        z-index: 2;
        bottom: 0;
        left: 0;
    }
    .basket {
        border-radius: 20px 20px 0px 0px;
        width: 100%;
        box-shadow: -3px -7px 20px 5px #b8b6b680;
    }
    .ticket-numlist {
        grid: auto / repeat(auto-fit, minmax(45px, 1fr));
    }
    .filter-tickets--hidden {
        width: 100%;
    }
    .ticket-content {
        padding-bottom: 182px;
    }
}