* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}
body {
  transition: 500ms;
  background: rgb(122 122 122);
  font-family: system-ui;
}
button {
  outline: unset;
  border: unset;
  cursor: pointer;
}


.js-sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

:root {
  --container-width: 1140px;
}
.container {
  max-width: var(--container-width);
  margin: 0 auto;
  position: relative;
}
.fixed-container {
  position: fixed;
  width: 100%;
}
.absolute-container {
  max-width: var(--container-width);
}
.ticket-content {
  margin-top: 30px;
  padding-bottom: 30px;
}
.btn-generate {
  padding: 12px 46px;
  background: #f0f0f0;
  border-radius: 50px;
  color: black;
  font-weight: 600;
  width: fit-content;
  margin: 0 auto;
  font-size: 17px;
}
.ticket {
  position: relative;
  flex-wrap: wrap;
  display: flex;
  padding: 20px;
  gap: 8px;
  background: white;
  border-radius: 20px;
  margin-bottom: 20px;
}
.ticket-count {
  display: flex;
  align-items: center;
  font-size: 20px;
}
.ticket-num {
  font-size: 17px;
  cursor: pointer;
  border-radius: 8px;
  color: white;
  background: gray;
  display: grid;
  place-content: center;
  line-height: 0;
  padding: 50% 0;
  transition: 300ms;
}
.ticket-wrapper {
  /* width: 100%; */
  position: relative;
  z-index: 2;
  width: 70%;
}

.ticket-numlist {
  grid: auto / repeat(auto-fit, minmax(50px, 1fr));
  display: grid;
  gap: 5px;
  width: 100%;
}
.btn {
  cursor: pointer;
}
.ticket-progress {
  height: 5px;
  width: 0;
  transition: 500ms;
  background: gray;
}
.ticket-num--active {
  background: black;
}
.ticket-prgoress-wrapper {
  display: block;
  width: 100%;
}
.out-ticket-number {
  width: 100%;
  line-height: 0px;
  gap: 5px;
  display: flex;
  flex-flow: wrap;
}
.out-number {
  height: 30px;
  width: 30px;
  display: grid;
  place-content: center;
  border-radius: 100%;
  color: white;
  background: black;
  /* animation: outNumbe rOpacity 2s infinite; */
}
@keyframes outNumberOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.flex {
  display: flex;
}
.basket {
  text-align: center;
  margin-left: auto;
  background: white;
  right: 0;
  padding: 20px;
  width: 28%;
  border-radius: 20px;
}
[disabled] {
  opacity: 0.3;
  pointer-events: none;
}
.tickets-content {
  align-items: flex-start;
  gap: 30px;
}
.basket-btn {
  display: table;
  margin: 0 auto;
}
.basket-hidden-content {
  opacity: 0;
  visibility: hidden;
  display: none;
}
.show {
  display: block;
  opacity: 1;
  visibility: visible;
}
.ticket-remove {
  cursor: pointer;
  position: absolute;
  display: grid;
  align-items: center;
  width: 20px;
  height: 20px;
  right: 20px;
}
.ticket-remove::before,
.ticket-remove::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background: #000;
  transform: rotate(45deg);
}
.ticket-remove::after {
  transform: rotate(-45deg);
}
.ticket-column {
  display: grid;
  grid: auto / repeat(2, 1fr);
  gap: 20px;
}
.default-btn {
  padding: 13px 24px;
  border-radius: 32px;
  margin: 0 auto;
  font-size: 15px;
  margin-top: 10px;
  font-weight: 700;
}
.ticket-column .ticket-numlist {
  grid: auto / repeat(auto-fit, minmax(41px, 1fr));
}

.filter-setting {
  width: 30px;
  height: 30px;
  z-index: 11;
}
.content-center {
  display: grid;
  place-content: center;
}
.filter-tickets {
  position: relative;
  padding: 14px;
  cursor: pointer;

  /* background: white; */
  /* border-radius: 100%; */
}
.filter-tickets:before {
  position: absolute;
  content: '';
  background: white;
  width: 100%;
  border-radius: 100%;
  z-index: -1;
  height: 100%;
}


.filter-tickets:hover .filter-tickets--hidden {
  opacity: 1;
  visibility: visible;
}
.filter-tickets--hidden {
  border-radius: 43px;
  height: fit-content;
  transition: 300ms;
  opacity: 0;
  visibility: hidden;
  bottom: 0;
  top: 100%;
  z-index: 2;
  padding: 20px;
  background: white;
  position: absolute;
  top: 0;
  width: 450px;
  z-index: 10;
  right: 0;
  left: 0;
}

.filter-tickets--hidden h2 {

}
.filter-tickets__item span {
  display: block;
  width: 2px;
  height: 10px;
  background: black;
}